page-retrive-data {
    .align_content_center{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: center;
        align-content: center;
        justify-content:center        
    }
    .select_menu{
        border: 1px solid #000;
        max-width:100%;
        padding:5px
    }

    .law_button{
        border:1px solid #000;
        width:95%
    }

    .filter_table td{
        padding: 5px
    }

    .alert-wrapper{
        max-width: 500px !important;
    }

    ion-content{
        font-size:18px;
    }
/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
	}
	th { 
		color: #444; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}

}
