page-import-excel {
    .align_content_center{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: center;
        align-content: center;
        justify-content:center        
    }

    .select_menu{
        border: 1px solid #000;
        max-width:100%
    }

}
