page-process-excel {
    .data_table{
        width:100%
    }

    .data_table tr th{
        padding: 10px;
        background: #FFF5F5;
    }

    .data_table tr td{
        padding: 10px;
        text-align: center

    }

    .error_cell{
        background: #F00;
        color:#FFF
    }

}
